@model Web.Models.Account.ResetPasswordModel

@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

@section HeaderScripts
{
     @Scripts.Render(Links.Scripts.Pages.ChangePassword_js)
}
    <style type="text/css">
        #accountformSection {
            padding: 30px 10px 10px 70px;
        }

            #accountformSection:before {
                position: absolute;
                content: "Forgot password";
                left: -75px;
                top: 90px;
                color: #FFC000 !important;
                margin: 5px 10px;
                font-family: 'Segoe UI Semibold_', 'Open Sans Bold', Verdana, Arial, Helvetica, sans-serif;
                font-weight: bold;
                color: #000000;
                line-height: 1.6rem;
                letter-spacing: 0.02em;
                color: rgba(0, 0, 0, 0.6);
                font-size: 2rem;
                line-height: 1.4rem;
                -webkit-transform: rotate(-90deg);
                -moz-transform: rotate(-90deg);
                -ms-transform: rotate(-90deg);
                -o-transform: rotate(-90deg);
                transform: rotate(-90deg);
            }
             .metro .input-control.password{
            cursor:text;
        }
              .note {
                 font-size: 1.2rem;
                 color: brown;
            }
    </style>
<section class="example" id="accountformSection">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
      
        <fieldset>
            <legend style="display: none" class="select">Reset Password</legend>
            @*<div class="row">
                <div class="col-md-12">
                    <h4>Reset Password</h4>
                </div>
            </div>*@
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                    @Html.HiddenFor(x=>x.PasswordResetToken)
                    @Html.HiddenFor(x=>x.UserName)
                    @Html.LabelFor(m => m.Password)
                    @Html.PasswordFor(m => m.Password, new { @class = "input-control password",@data_hint="The password should be 8 to 16 characters long with atleast one number, one upper & lowercase and one symbol" ,
                                                              @data_hint_position="right" })
                </div>
                <div class="col-md-12">
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "input-control password" })
                </div>

                <div class="col-md-12">
                    <input id="btnSave" type="submit" value="Save" />
                </div>
                </div>
                <div class="col-md-6">
                    @Html.ValidationSummary()
                </div>
            </div>

        </fieldset>
    }
</section>
